$font_1: ToyotaDisplay, Arial, sans-serif;
$font_2: ToyotaText, Arial, sans-serif;
$font_3: SegoeUI, Arial, sans-serif;
$color_dark: #333333;
$color_light: #ffffff;
$color_grey: #f0f0f0;
$color_red: #e50000;