.condition {
  padding-top: 150px;
  padding-bottom: 20px;
  background-color: $color_grey;

  &__title {
    margin-bottom: 25px;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: $color_red;

    &::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 24px;
      top: -2px;
      left: 135px;
      background-image: url('../img/down-arrow.png');
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
    }
  }

  &__text {
    margin-bottom: 30px;
    font-family: $font_2;
    font-size: 14px;
    line-height: 22px;
  }
}