.regulation {
  padding-top: 140px;
  padding-bottom: 20px;
  background-color: $color_grey;

  &__title {
    margin-bottom: 20px;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: $color_red;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 22px;
      top: 0;
      left: 135px;
      background-image: url('../img/down-arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      // transform: rotate(180deg);
    }

    &:hover::after {
      transform: scale(1.1);
    }
  }

  &__text {
    display: none;
    margin-bottom: 26px;
    font-family: $font_2;
    font-size: 14px;
    line-height: 22px;
  }

  &__open {
    display: block;
  }
}